{% extends 'base.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'tienda/historial.css' %}"> 
<h2>Historial de Compras</h2>
<table>
    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio Total</th>
            <th>Fecha de Compra</th>
        </tr>
    </thead>
    <tbody>
        {% for compra in compras %}
        <tr>
            <td>{{ compra.producto.nombre }}</td>
            <td>{{ compra.cantidad }}</td>
            <td>${{ compra.precio_total }}</td>
            <td>{{ compra.fecha_compra|date:"d/m/Y H:i" }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No hay compras registradas.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}